[submodule "lib/BOSL"]
	path = lib/BOSL
	url = https://github.com/revarbat/BOSL.git
[submodule "lib/BOSL2"]
	path = lib/BOSL2
	url = https://github.com/revarbat/BOSL2.git
[submodule "lib/bolts"]
	path = lib/bolts
	url = https://github.com/boltsparts/BOLTS_archive.git
[submodule "lib/dotSCAD"]
	path = lib/dotSCAD
	url = https://github.com/JustinSDK/dotSCAD.git
[submodule "lib/funcutils"]
	path = lib/funcutils
	url = https://github.com/thehans/funcutils.git
[submodule "lib/MarksEnclosureHelper"]
	path = lib/MarksEnclosureHelper
	url = https://github.com/sbambach/MarksEnclosureHelper.git
[submodule "lib/FunctionalOpenSCAD"]
	path = lib/FunctionalOpenSCAD
	url = https://github.com/thehans/FunctionalOpenSCAD.git
[submodule "lib/SBC_Case_Builder"]
	path = lib/SBC_Case_Builder
	url = https://github.com/hominoids/SBC_Case_Builder.git
